[Unit]
Description=csye6225webapp
After=network.target csye6225.path


[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/admin/webapp
EnvironmentFile=/opt/application.properties
ExecStart=java -jar webapp-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=cloud-init.target