name: CI

on:

  push:
    branches:
      - main
      - YanWuGit-patch-1
  pull_request:
    branches:
      - main
      - YanWuGit-patch-1

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:

        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: Miemiemie!23
          MYSQL_DATABASE: webapp
          MYSQL_USER: beluga
          MYSQL_PASSWORD: Miemiemie!23
        ports:
          - 3306:3306
        #options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      # Create the users.csv file
      - name: Create users.csv
        run: |
          sudo sh -c 'cat << EOF > /opt/users.csv
          first_name,last_name,email,password
          john,doe,john.doe@example.com,abc123
          jane,doe,jane.doe@example.com,xyz456
          EOF'



      - name: Build with Maven
        run: mvn -e clean install

      - name: Run Tests
        run: mvn test
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/webapp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
          SPRING_DATASOURCE_USERNAME: user
          SPRING_DATASOURCE_PASSWORD: Miemiemie!23


