name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - YanWuGit-patch-1
  push:
    branches:
      - main
      - YanWuGit-patch-1

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0.34
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: webapp
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Cache Maven dependencies
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build and run integration tests
      run: mvn clean verify
      env:
        SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/testv
        SPRING_DATASOURCE_USERNAME: root
        SPRING_DATASOURCE_PASSWORD: root
